<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Sonam Tamang</title>
</head>

<body>

    <h1>About Me</h1>

    <p>
        I am an IT Infrastructure and Cybersecurity professional
        with a background in Information Technology and Cybersecurity.
    </p>

    <p>
        I have experience in IT infrastructure, technical support,
        networking, system administration and cybersecurity.
    </p>

    <a href="/">Home</a>

</body>
</html>